<section class="about-us" id="about-us-section">
  <div class="container about">
    <div class="flex-container">
      <div class="content-about">
        <h3 class="about-title">About Us</h3>
        <p class="about-text first-paragraph">
          Welcome to our premium watch collection, where luxury and style meet
          functionality and precision. Our selection of timepieces embodies the
          very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable and stylish accessory on your wrist....
        </p>
        <p class="about-text last-paragraph">
          At our premium watch collection, we believe that a watch is more than
          just a timekeeping device – it's a statement piece that reflects your
          personality and style. So why settle for anything less than the best?
        </p>
        <button class="about-button" type="button">
          <a href="#catalog">View catalog</a>
        </button>
      </div>
      <div class="image-about">
        <picture>
          <source
            media="(max-width: 767px)"
            srcset="
              ../img/img-about/mobil-img-about.jpg    1x,
              ../img/img-about/mobil-img-about-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              ../img/img-about/plan-img-about.jpg    1x,
              ../img/img-about/plan-img-about-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ../img/img-about/desk-img-about.jpg    1x,
              ../img/img-about/desk-img-about-2x.jpg 2x
            "
          />
          <img
            src="../img/img-about/desk-img-about.jpg"
            alt="Premium Watches"
            class="about-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
