<section id="catalog" class="catalog">
  <div class="container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-items">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch1-desc.png    1x,
              ./img/catalog-img/desc-2x/watch1-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png                   1x,
              ./img/catalog-img/tab-2x.png/watch1-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog-img/mob-1x/imagemob1.png 1x,
              ./img/catalog-img/mob-2x/mob1-2x.png   2x
            "
            media="(max-width:767px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/mob-1x/mob1.png"
            alt="yallowwatch"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle hidden-text">
            Garmin Fenix 7X Pro Sapphire Solar
          </h3>
          <p class="catalog-price">€500</p>
        </div>
      </li>

      <li class="catalog-items">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch2-desc.png    1x,
              ./img/catalog-img/desc-2x/watch2-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png/watch2-tab.png    1x,
              ./img/catalog-img/tab-2x.png/watch2-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog-img/mob-1x/imagemob2.png 1x,
              ./img/catalog-img/mob-2x/mob2-2x.png   2x
            "
            media="(max-width:767px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/mob-1x/mob2.png"
            alt="yallowwatch"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-price">€450</p>
        </div>
      </li>
      <li class="catalog-items">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch3-desc.png    1x,
              ./img/catalog-img/desc-2x/watch3-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png/watch3-tab.png    1x,
              ./img/catalog-img/tab-2x.png/watch3-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog-img/mob-1x/imagemob3.png 1x,
              ./img/catalog-img/mob-2x/mob3-2x.png   2x
            "
            media="(max-width:767px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/mob-1x/mob3.png"
            alt="silverwatch"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-price">€680</p>
        </div>
      </li>
      <li class="catalog-items">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch4-desc.png    1x,
              ./img/catalog-img/desc-2x/watch4-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png/watch4-tab.png    1x,
              ./img/catalog-img/tab-2x.png/watch4-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./img/catalog-img/mob-1x/imagemob4.png 1x,
              ./img/catalog-img/mob-2x/mob4-2x.png   2x
            "
            media="(max-width:767px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/mob-1x/mob4.png"
            alt="greenwatch"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-price">€380</p>
        </div>
      </li>
      <li class="catalog-items mob">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch5-desc.png    1x,
              ./img/catalog-img/desc-2x/watch5-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png/watch5-tab.png    1x,
              ./img/catalog-img/tab-2x.png/watch5-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/desc-1x/watch5-desc.png"
            alt="phonedisplay"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-price">€400</p>
        </div>
      </li>
      <li class="catalog-items mob">
        <picture>
          <source
            srcset="
              ./img/catalog-img/desc-1x/watch6-desc.png    1x,
              ./img/catalog-img/desc-2x/watch6-desc-2x.png 2x
            "
            media="(min-width:1280px)"
          />
          <source
            srcset="
              ./img/catalog-img/tab-1x.png/watch6-tab.png    1x,
              ./img/catalog-img/tab-2x.png/watch6-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img
            class="catalog-img"
            src="./img/catalog-img/desc-1x/watch6-desc.png"
            alt="girl"
            width="279"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle hidden-text">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-price">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-button" type="button">Show more</button>
  </div>
</section>
