<section class="contact-us" id="contact-us-section">
  <div class="container contact-us">
    <h2 class="contact-us-title">Contact Us</h2>
    <div class="contact-us-flex-container">
      <div class="form-container">
        <p class="contact-form-text">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>
        <form class="contact-us-form" name="contact-us-form">
          <div class="input-container">
            <input
              type="text"
              class="form-input"
              name="user-name"
              placeholder="Name"
              required
            />
            <input
              type="email"
              class="form-input"
              name="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
            <input
              type="tel"
              class="form-input"
              name="user-tel"
              placeholder="+380"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              required
            />
            <textarea
              class="form-input comment"
              name="user-comment"
              placeholder="Comment"
            ></textarea>
          </div>
          <button id="form-send-button" type="submit" class="form-btn">Send</button>
        </form>
      </div>
      <div class="image-container">
        <picture>
          <source
            srcset="
              ./img/contact-us/contact-us-watch.jpg    1x,
              ./img/contact-us/contact-us-watch-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/contact-us/contact-us-watch-tab.jpg    1x,
              ./img/contact-us/contact-us-watch-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/contact-us/contact-us-watch-mob.jpg    1x,
              ./img/contact-us/contact-us-watch-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/contact-us/contact-us-watch-tab.jpg"
            alt="watch-picture"
            width="704"
            height="556"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
