<footer class="footer container" id="footer">
  <div class="footer-cont">
    <div class="footer-wrap">
    <div class="footer-section">
      <div class="footer-logo-soc">
        <a href="watchcharm" class="footer-logo-text">watchcharm</a>
        <ul class="footer-soc-list">
          <li class="footer-soc-item">
            <a
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="footer-soc-link"
            >
              <svg class="footer-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="footer-soc-link"
            >
              <svg class="footer-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-soc-item">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="footer-soc-link"
            >
              <svg class="footer-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      
    </div>

    <div class="footer-slogan">
      <p class="footer-slogan-text">
        Have the time of your life with our watches: where high-class
        craftsmanship meets impeccable design
      </p>
    </div>
      <a href="tel:+380684439426" class="footer-tel">+380 (68) 443-94-26</a>
      
    </div>
    
    <div class="footer-menu-address">
      <div class="footer-menu">
        <ul class="footer-menu-list">
          <li class="footer-menu-item"><a href="">Home</a></li>
          <li class="footer-menu-item"><a href="">About Us</a></li>
          <li class="footer-menu-item"><a href="">Catalog</a></li>
          <li class="footer-menu-item"><a href="">Sale</a></li>
          <li class="footer-menu-item"><a href="">Reviews</a></li>
          <li class="footer-menu-item"><a href="">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-address">
        <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
      </div>
    </div>
    <div class="footer-text">
      <p class="footer-text-item">
        &copy;2023 The Watch Spot. All rights reserved.
      </p>
      <div class="footer-link">
        <a href="" class="footer-link-text">Terms of Service</a>
        <a href="" class="footer-link-text">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
