<section class="hero" id="hero">
  <div class="container hero-page">
    <div class="media">
      <ul class="text-blok">
        <li>
          <h1 class="hero-title">
            Welcome to our <span class="span-hero">collection</span> of premium
            watches
          </h1>
        </li>
        <li class="hero-subtitle">
          <p>
            Our watches are not just timepieces, but also an expression of your
            personality and lifestyle. From classic designs to modern ones, we
            have a watch to suit every taste and occasion.
          </p>
        </li>
      </ul>
      <ul class="hero-section-team">
        <li class="team-img">
          <picture class="team-images">
            <source
              srcset="./img/team-1x.png 1x, ./img/team-2x.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="./img/team-tab-1x.png 1x, ./img/team-tab-2x.png 2x"
              media="(min-width: 768px)"
            />
            <source
              srcset="./img/team-mob-1x.png 1x, ./img/team-mob-2x.png 2x"
              media="(max-width: 767px)"
            />
            <img src="./img/team-mob-1x.png 1x," alt="Teams" class="images" />
          </picture>
        </li>
        <li class="anchor">
          <a class="anchor-btn" href="#footer">Scroll down</a>
        </li>
      </ul>
    </div>
    <picture>
      <source
        srcset="./img/hero-1x-min.png 1x, ./img/hero-2x-min.png 2x"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/hero-tab-1x.png 1x, ./img/hero-tab-2x.png 2x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/hero-mob-1x.png 1x, ./img/hero-mob-2x.png 2x"
        media="(max-width: 767px)"
      />
      <img src="../img/hero-2x.png," alt="watches" class="images-hero" />
    </picture>
  </div>
</section>
