<section>
    <div class="container">
        <div class="wrapper-sale">
            <h2>Sale</h2>
        <div class="img-container">
            <img 
              srcset= "
               ../img/sale-front-side-clock.png 1x,
               ../img/sale-front-side-clock@2x.png 2x
               "
              src="../img/sale-front-side-clock.png"
              width="96"
              height="100"
              alt="Photo of the front of the watch"
            />
        </div>

        </div>

    </div>
</section>