.about {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
}

.flex-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-about {
    border-radius: 30px;
    padding: 40px 20px;
    background-color: #F3F3F3;
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

.about-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.first-paragraph {
  margin-top: 28px;
  margin-bottom: 20px;
}

.last-paragraph {
  margin-bottom: 40px;
}

.about-button {
  display: inline-block;
    background-color: #3350E9;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 16px;
    width: 160px;
    height: 48px;
    cursor: pointer;
    line-height: 48px;
}

.about-button:hover,
.about-button:focus {
  background-color: #1F3CD4;
}

.about-button a {
    color: #FBFBFB;
    text-decoration: none;
}

.image-about {
    margin-top: 20px;
    background: rgba(12, 12, 12, 0.2), url(path_to_image);
}

.about-img {
    border-radius: 30px;
}


/* Медиа-запрос для разрешения 768px */
@media (min-width: 768px) {

    .flex-container {
    }

    .content-about {
        border-radius: 50px;
        padding: 80px 60px;
    }

    .about-title {
    }

    .about-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
    }

    .first-paragraph {
        margin-top: 40px;
    }

    .last-paragraph {
        margin-bottom: 60px;
    }

    .about-button {
    }

    .image-about {
        border-radius: 50px;
        margin-top: 40px;
    }
}

/* Медиа-запрос для разрешения 1280px */
@media (min-width: 1280px) {
    .about {
    }

    .flex-container {
        flex-direction: row;
        gap: 40px;
    }

    .content-about {
        border-radius: 50px;
        width: 580px;
    }

    .last-paragraph {
        margin-bottom: 40px;
    }

    .image-about {
        border-radius: 50px;
        margin: 0;
    }
}