.footer {
  max-width: 335px;
  max-height: 581px;
  background: #0c0c0c;
  border-radius: 30px;
  margin: 0 auto;
}
.footer-container {
  padding: 40px 28px 28px 28px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.footer-social {
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-phone {
  padding: 14px 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tel {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.footer-slogan {
  margin-bottom: 92px;
}
.footer-slogan-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.footer-menu-address {
  display: flex;
  gap: 49px;
  margin-bottom: 48px;
}

.footer-menu {
  width: 147px;
}

.footer-menu-list {
  display: flex;
  flex-wrap: wrap;
  gap: 13px 16px;
}
.footer-menu-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}
.footer-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  max-width: 83px;
  margin-left: auto;
}
.footer-text {
  margin-bottom: 8px;
}

.footer-text-item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.footer-link {
  display: flex;
  gap: 20px;
}

.footer-link-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}

@media screen {
}
