.footer {
  max-width: 335px;
  max-height: 581px;
  background: #0c0c0c;
  border-radius: 30px;
}
.conteiner {
  padding: 40px 28px 28px 28px;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.footer-social {
}
.footer-soc-list {
}
.footer-soc-item {
}
.footer-phone {
  padding: 14px 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
  width: 152px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-tel {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.footer-slogan {
  margin-bottom: 92px;
}
.footer-slogan-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

.footer-menu-address {
  display: flex;
  justify-content: flex-end;
  gap: 49px;
}

.footer-menu {
  width: 147px;
  display: flex;
  flex-direction: row;
}
.footer-menu-list {
}
.footer-menu-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  color: #fbfbfb;
}
.footer-address {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
  width: 83px;
}
.footer-text {
}

.footer-text-item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  opacity: 0.9;
}

.footer-link {
}

.footer-link-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  text-align: right;
  color: rgba(251, 251, 251, 0.5);
}
